.contact__title {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    width: 100%;
    max-width: 634px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 58px;
}
.contact-form__fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 57px 40px;
    margin: 76px auto 0;
    width: 100%;
}

.contact-form__textarea {
    grid-column: 1 / 3;
    height: 175px;
    resize: none;
}

.contact-form__submit {
    width: 221px;
    align-self: flex-end;
}

.contact-form__input,
.contact-form__textarea {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    background-color: transparent;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 13px;
    transition: .2s;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
    outline: none;
    border-bottom: 1px solid #CDA274;
}


.contact__info {
    padding-top: 76px;
    padding-left: 32px;
    padding-right: 76px;
    border-radius: 50px;
    background: rgb(244, 240, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_links-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contact-form-container .list-item__link:hover {
    color: #CDA274;
}

.contact-form-container .list-item__link {
    display: flex;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    width: 100%;
}

.contact-form-container .list-item__link__icon {
    position: relative;
    width: 52px;
    height: 52px;
    background-color: white;
    border-radius: 50%;
}

.contact-form-container .list-item__link__icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-box {
    display: flex;
    flex-direction: row;
    gap: 55px;
}

.contact__links__about {
    display: flex;
    margin-top: 50px;
    gap: 35px;
    width: 194px;
}

.list-item__link__text {
    width: 194px;
}

.contact-us__footer {
    margin-top: 260px;
}

/* Media */
@media screen and (max-width: 1200px) {
    
    .contact-box {
        flex-direction: column;
    }

    .contact__info {
        order: 2;
        padding: 50px;
    }

    .contact__title {
        font-size: 30px;
    }
    
    .contact-form__fields {
        grid-template-columns: 1fr;
    }
    
    .contact-form__textarea {
                grid-column: 1 / 2;
    }
    
}