.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 45px;
}

.header__nav {
  display: flex;
  align-items: center;
  /*hint: переопределим отступ по умолчанию для тега ul*/
  padding-left: 0;
}

.header__item {
  margin-left: 48px;
}

.header__item:last-child {
  margin-left: 30px;
}

.header__link {
  color: #292f36;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.header__link:hover {
  color: #cda274;
}

.header__search {
  /*hint: переопределим отступ по умолчанию для тега button*/
  padding: 0;
  background: transparent;
  border: none;
  /*hint: чтобы не использовать width и height у img для центровки кнопки*/
  display: flex;
  cursor: pointer;
}

.header__menu {
  display: none;
  width: 70px;
  height: 70px;
  background-image: url("../../img/icon/menu-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* Media */
/* hint: при этой ширине нужно поменять меню. Слишком маленькие расстояния между пунктами меню*/
@media (max-width: 600px) {
  .header {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .header__menu {
    display: block;
  }

  .header > nav {
    display: none;
  }

  
}
